[Unit]
Description=Gunicorn server for ttd-staging.jinis.online

[Service]
Restart=on-failure
User=jin
WorkingDirectory=/home/jin/sites/staging-ttd-django
EnvironmentFile=/home/jin/sites/staging-ttd-django/.env

ExecStart=/home/jin/sites/staging-ttd-django/.venv/bin/gunicorn \
    --bind unix:/tmp/staging-ttd-django.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
